
//COLORS

// Brand colors
  $main-color: #FF6060;
  
// Neutral colors 
  $neutral-first-color: #ffffff;
  $neutral-second-color: #C4C4C4;
  $neutral-third-color: #000000;
  $neutral-fourth-color: #F6F6F6;


//VALUES 
  $query-mobile-value: 768px;
