@use '../utilities';
//----------------HEADER----------------

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 4rem;
  margin-bottom: 4rem;


  @media(max-width: utilities.$query-mobile-value){
    width: 100%;
  }


  &--logo{
    width: 21rem;

    @media (max-width: utilities.$query-mobile-value) {
      width: 14.5rem; 
    }
  }

  &--nav {
    display: flex;
  }

  #header--link__1.active{
    text-decoration: underline;
  } 
  #header--link__2.active{
    text-decoration: underline;
  }

  #header--link__1, #header--link__2{
    text-decoration: none;
  }

  #header--link__2{
    margin-left: 5.7rem;

    @media(max-width: utilities.$query-mobile-value){
      margin-left: 3rem;
    }
  }
}


