@use '../utilities';

.header{
  font-family: 'Montserrat';
  font-size: 2.4rem;
  font-weight: 500;

  @media(max-width: utilities.$query-mobile-value){
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  #header--link__1, #header--link__2{
    color:utilities.$main-color;
  }
}


.welcome--title{
  font-family: 'Montserrat';
  font-size: 4.8rem;
  font-weight: 500;
  color: utilities.$neutral-first-color;

  @media(max-width: utilities.$query-mobile-value){
    font-size: 2.4rem;
  }
}


.gallery--card__title{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.8rem;
  color: utilities.$neutral-first-color;

}


.footer--texte{
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 2.4rem;
  color: utilities.$neutral-first-color;

  @media(max-width: utilities.$query-mobile-value){
    font-size: 1.2rem;
    width: 10rem;
    text-align:justify;
    text-align-last:justify ;
  }
}


.collapse--title{
  font-family: 'Montserrat';
  font-size: 2.4rem;
  color: utilities.$neutral-first-color;
  font-weight: 500;

  @media(max-width: utilities.$query-mobile-value){
    font-size: 1.3rem;
  }
}

.collapse--content{
  font-family: 'Montserrat';
  font-size: 1.8rem;
  color: utilities.$main-color;
  font-weight: 400;

  @media(max-width: utilities.$query-mobile-value){
    font-size: 1.3rem;
  }
}

.error{
  color: utilities.$main-color;
  font-family: 'Montserrat';

  .error--code{
    font-weight: 700;
    font-size: 28.8rem;

    @media(max-width: utilities.$query-mobile-value){
      font-size: 9.6rem;
    }
  }
  
  .error--message{
    font-weight: 500;
    font-size: 3.6rem;

    @media(max-width: utilities.$query-mobile-value){
      font-size: 1.8rem;
    }
  }
  
  .error--link{
    font-weight: 500;
    font-size: 1.8rem;
    text-decoration: underline;
    color: utilities.$main-color;

    @media(max-width: utilities.$query-mobile-value){
      font-size: 1.4rem;
    }
  }
}

.count{
  color: utilities.$neutral-first-color;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 1.8rem;
}