@use '../utilities';

html{
  font-size: 62.5%;
}

.body--page{ //reset against default style made by browsers
  padding: 0;
  margin: auto;
  background-color: utilities.$neutral-first-color;
  width: 1240px;
  
  @media(max-width: utilities.$query-mobile-value){
    width: 33.5rem ;

  }
}