@use '../utilities';

html{
  font-size: 62.5%;
  
}

body{
  margin: 0;
}

.body--page{ //reset against default style made by browsers
  padding: 2rem;
  background-color: utilities.$neutral-first-color;
  max-width: 1240px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin: auto;

  @media(max-width: utilities.$query-mobile-value){
    
    width: 100%;

  }
}




