@use '../utilities';


.gallery{
  background-color: utilities.$neutral-fourth-color ;
  border-radius: 25px;
  
  display: grid;
  grid-template-columns:1fr 1fr 1fr;

  width: 1240px;
  padding-bottom: 4.5rem;

  @media(max-width: utilities.$query-mobile-value){
    width: 33.5rem;
    display: flex;
    flex-direction: column;
    background-color: utilities.$neutral-first-color;
    padding-bottom: 0;
  }

  .gallery--card{
    margin:auto;
    margin-top: 4.5rem;

    width: 34rem;
    height: 34rem;

    position: relative;
    cursor: pointer; 

    @media(max-width: utilities.$query-mobile-value){
      margin-top: 2rem;
      width: 33.5rem;
      height: 33.5rem;
    }


    .gallery--card__image{
      width: 34rem;
      height: 34rem;
    
      border-radius: 1rem;
      object-fit: cover;  

      @media(max-width: utilities.$query-mobile-value){
        width: 33.5rem;
        height: 33.5rem;
      }
    }

    .gallery--card__gradient{
      position: absolute;
      top: 0;
      left: 0;

      width: 34rem;
      height: 34rem;

      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      border-radius: 1rem;

      @media(max-width: utilities.$query-mobile-value){
        width: 33.5rem;
        height: 33.5rem;
      }
      
    }

    .gallery--card__title{
      bottom: 0;
      left: 3%;
      position: absolute;
      padding-right: 13.5rem;
    }
  }
}
