@use '../utilities';


.gallery{
  background-color: utilities.$neutral-fourth-color ;
  border-radius: 25px;
  
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  width: 100%;
  padding-bottom: 4.5rem;

  @media(max-width: utilities.$query-mobile-value){
    display: flex;
    flex-direction: column;
    background-color: utilities.$neutral-first-color;
  }

  .gallery--card{
    margin:auto;
    margin-top: 4.5rem;

    width: 34rem;
    height: 34rem;

    position: relative;
    cursor: pointer; 


    @media(max-width: 1100px){
      width: 27rem;
      height: 27rem;
    }
    
    @media(max-width: 900px){
      width: 23rem;
      height: 23rem;
    }

    @media(max-width: 768px){
      margin-top: 2rem;
      width: 100%;
      height: 30.4rem;
    }

    @media(max-width: 425px){
      height: 26.6rem;
    }

    @media(max-width: 375px){
      height: 23.1rem;
    }

    @media(max-width: 320px){
      height: 23.1rem;
    }


    .gallery--card__image{
      width: 34rem;
      height: 34rem;
    
      border-radius: 1rem;
      object-fit: cover;  

      @media(max-width: 1100px){
        width: 27rem;
        height: 27rem;
      }
      
      @media(max-width: 900px){
        width: 23rem;
        height: 23rem;
      }
  
      @media(max-width: 768px){
        margin-top: 2rem;
        width: 100%;
        height: 30.4rem;
      }
  
      @media(max-width: 425px){
        height: 26.6rem;
      }
  
      @media(max-width: 375px){
        height: 23.1rem;
      }
  
      
    }

    .gallery--card__gradient{
      position: absolute;
      top: 0;
      left: 0;

      width: 34rem;
      height: 34rem;

      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      border-radius: 1rem;

      @media(max-width: 1100px){
        width: 27rem;
        height: 27rem;
      }

      @media(max-width: 900px){
        width: 23rem;
        height: 23rem;
      }

      @media(max-width: 768px){
        margin-top: 2rem;
        width: 100%;
        height: 30.4rem;
      }
  
      @media(max-width: 425px){
        height: 26.6rem;
      }
  
      @media(max-width: 375px){
        height: 23.1rem;
      }
      
    }

    .gallery--card__title{
      bottom: 0;
      left: 3%;
      position: absolute;
      padding-right: 13.5rem;
    }
  }
}
