@use '../utilities';


.imageWelcomePageTitle{
  height: 22.3rem;
  width: 1240px; 

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.imageWelcomePage{
  height: 22.3rem;
  width: 1240px;
  border-radius: 2.5rem;
  object-fit: cover;
  position: absolute;
}

.imageWelcomeBanner{
  height: 22.3rem;
  width: 1240px; 

  border-radius: 2.5rem;
  background-color: utilities.$neutral-third-color;
  opacity: 30%;

  position: absolute;
}

