@use './../utilities';

//------------------------COLLAPSE------------------------//

.information--collapses{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media(max-width: utilities.$query-mobile-value){
    flex-direction: column;
  }
  
  .collapse{
    .collapse--title{
      width: 58.2rem;
      @media(max-width: utilities.$query-mobile-value){
        width: 33.5rem;
      }
    }

    .collapse--content{
      width: 58.2rem; 
      @media(max-width: utilities.$query-mobile-value){
        width: 33.5rem;
      } 

      .information--collapse__equipements{
        list-style: none;
      }
    }
  }
}

.collapse.open {
  width: 58.2rem;  
  @media(max-width: utilities.$query-mobile-value){
    width: 33.5rem;
  }
}

.collapse.close  {
  width: 58.2rem;
  @media(max-width: utilities.$query-mobile-value){
    width: 33.5rem;
  } 
}