@use './../utilities';

//------------------------COLLAPSE------------------------//

.information--collapses{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  @media(max-width: utilities.$query-mobile-value){
    flex-direction: column;
  }
  
  .collapse{
    .collapse--content{
      .information--collapse__equipements{
        list-style: none;
      }
    }
  }

  .collapse.open {
    width: 45% ;
    @media(max-width: utilities.$query-mobile-value){
      width: 100%;
    }
    
    
  }
  
  .collapse.close {
    width: 45%;
    @media(max-width: utilities.$query-mobile-value){
      width: 100%;
    }
  }
}
